@font-face {
  font-family: 'Nanum Gothic';
  src: url('@/assets/fonts/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Nanum Gothic Regular';
  src: url('@/assets/fonts/Pretendard-Regular.otf') format('opentype');
}

// html {
//   font-size: 14px;
// }

body {
  margin: 0px;
  font-family: 'Nanum Gothic', sans-serif;
  // font-family: 'Noto Sans KR';
  font-size: 14px;
  background-color: colors.$background-color-light;
  color: colors.$text-color-primary;
  overflow: hidden;
}

* {
  user-select: none;
}
